.main {
  text-align: center;
  padding: 50px;
  background-color: rgb(229, 225, 217);
}

.searchbox {
  text-align: center;
  width: 25%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.cardbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 350px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  background-color: rgb(243, 214, 177);
}